//@import "variables";


.module-chunk{
  .el-menu--inline{
    border-top: 1px solid #dddddd;
  }
  .el-submenu__title{
    padding: 10px 15px;
    background: #f5f5f5;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    cursor: pointer;
    height: auto;
    line-height: inherit;
  }
  .sub-sidenav.is-active{
    background: #58bceb;
    a{
      color: white;
    }
  }
  .sub-sidenav{
    padding:0!important;
    cursor: pointer;
    height: auto;
    line-height: inherit;
    min-width: auto;

    &:hover{
      background: #58bceb;
      a{
        color: white;
      }
    }
  }
}


.menu-wrapper{
  .el-menu-item{
    background: #f7f7f7;
    transition: all linear 0.3s;
  }
  .el-menu-item.is-active{
    background: #ecf5ff;
    &:after{
      content: '';
      display: table;
      width: 5px;
      position: absolute;
      right: 0;
      height: 100%;
      top: 0;
      background: #5cb1fd;
    }
      a{
        //color: white;
      }
  }
}
.login-form{
  .el-input__inner{
    height: 35px;
    background-color: #b8c0d8;
    color: $loginColor;
    border: 1px solid #b8c0d8
  }
  .el-input__inner:focus{
    border: 1px solid #b8c0d8
  }
  .el-input__inner::-webkit-input-placeholder {
    color:$loginColor;
  }
  .el-input__inner:-moz-placeholder {
    color: $loginColor;
  }
  .el-input__inner:-ms-input-placeholder {
    color: $loginColor;
  }
  .el-button--primary{
    width: 100%;
    background: url("/img/loginbtn.png") no-repeat center;
    color: $loginColor;
    border: 1px solid rgba(0, 117, 239, 0.73);
    transition: all linear 0.3s;
  }
  .el-button--primary:focus, .el-button--primary:hover{
    background: url("/img/loginbtn.png") no-repeat center;
    color: $loginColor;
  }
  .el-form-item__error{
    left:0;
  }
  .pw-tip{
    .el-checkbox__input.is-checked+.el-checkbox__label{
      color: $loginColor;
    }
    .el-checkbox__inner{
      width: 12px;
      height: 12px;
      vertical-align: middle;
      &:after{
        top:0;
        left:3px;
      }
    }
    .el-checkbox__label{
      font-size: $smFontSize;
      color: $loginColor;
      vertical-align: middle;
    }
  }
}



.dynamic-modal-form-no-inline{
  display: flex;
  flex-wrap: wrap;
  &:after,&:before{
    content: '';
    display: table;
    clear: both;
  }

}
.el-form-item{
  .el-select,  .el-input,.el-date-editor.el-input__inner,.el-date-editor.el-input{
    width:100%;
  }
}
.el-dialog__wrapper{
  .el-dialog__header{
    background: #409eff;
  }
  .el-dialog__title,i.el-dialog__close{
    color: white;
  }
  .el-dialog__headerbtn{
      &:focus,&:hover{
        .el-dialog__close{
          color: #d2cdcd;
      }
    }
  }
  .el-dialog__body{
    max-height:600px;
    overflow-y: auto;
  }
}
.el-tooltip__popper{
    max-width: 400px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader .avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.el-table .el-table__header th{
  color: #5d5e5f;
  background: #ecf5ff;
}

@include setColorForButton($btnStrs,$btnFtColor)
@include h1-6($hFtsz)
