/**
  颜色配置区域
 */
$mainColor:#1890ff;
$lowColor:#69c0ff;
$highColor:#0050b3;
$mainFontColor:#262626;
$bgColor:#ececec;
$whiteFontColor:#ffffff;
//功能信息配色
$errorColor:#f5222d;
$warningColor:#faad14;
$successColor:#52c41a;
$primaryColor:#1890ff;

$linkColor:#0050b3;


/****
  字体
 */
$baseFontSize:14px;
$meddumFontSize:18px;
$logoFontSize:20px;
$baseFontLt:1.5;
